body {
	background: #000000 url(camaro.jpg) no-repeat;
      background-position: center;
}

header {
	width:100%; height:auto; display: flex; 
}

#logo {
	float:left; width:200px; height:100px;
}
* {
	box-sizing: border-box;
  }

  .slider {
	  width: 50%;
	  margin: 100px auto;
  }

  .slick-slide {
	margin: 0px 20px;
  }

  .slick-slide img {
	width: 100%;
  }
  